@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    a.active {
        background: #428bca;
        color: #fff;
        &:hover {
            background: #428bca;
        }
    }
    margin-bottom: 20px;
}

footer {
	margin-top: 20px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}
