<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>React SPA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css styles/bundle.css -->
        <link rel="stylesheet" href="styles/bundle.css">
        <!-- endbuild -->

    </head>
    <body>

        <div id="spa" class="container"></div>

        <!-- build:js scripts/bundle.js -->
        <script type="text/javascript" src="scripts/bundle.js"></script>
        <!-- endbuild -->

    </body>
</html>
